*{
    margin: 0;
}

body{
    background-color: #e2e2e2;
}

/* BARRA NAVEGACION INICIO */

.logo{
margin-top: 15px;
height: 40px;
width: 180px;
}

.menu1{
    -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.15);
    margin-top: 1px;
    display: flex;
    width: 100%;
    background-color: #DA0707;
    height: 70px;
}

.menu1 ul{
    list-style: none;
   
}

.menul > li{
margin-top: 10px;
position: relative;
display: inline-block;
}

.menul > li > a{
height: 30px;
color: #ffffff;
display: block;
padding: 15px 20px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: none;

}



/*submenu*/

.submenu{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    background: #1B1F22;
    width: 120%;
    display: none;
}


.submenu  li  a{
display: block;
padding: 15px;
color: #e8e8e8;
font-family:Arial, Helvetica, sans-serif;
text-decoration: none;
}

.submenu  li:hover{
color: #e8e8e8;
transition: all .3s;
}


.menul  li:hover .submenu{
display: block;
}

/* TITULO */

.titulo{
    margin-left: 10%;
    margin-top: 10px;
    height: 85px;
    width: 1000px;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #1B1F22;
    border-width: 9px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    margin-top: 30px;
    margin-left: 60px;
}

/* pilotos */
.rf{
    display: flex;
}
/* marcos */
.marco-r{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-r:hover{
    border-color: #2f00ff;
}


.marco-f{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.marco-f:hover{
    border-color: #f90707;
}


.marco-m{
    margin-top: 30px;
    margin-left:4%;
    background-color: #00000000;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}


.marco-m:hover{
    border-color: #14d8ff;
    
}


.marco-mc{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-mc:hover{
    border-color: #f98407; 
}


.marco-ap{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-ap:hover{
    border-color: #0788f9; 
}


.marco-am{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-am:hover{
    border-color: #00b50f; 
}



.marco-aph{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-aph:hover{
    border-color: #8a95fe; 
}

.marco-ar{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-ar:hover{
    border-color: #8d0000; 
}

.marco-w{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-w:hover{
    border-color: #3618cd; 
}


.marco-h{
    margin-top: 30px;
    margin-left:4%;
    background-color: #200fe200;
    width: 300PX;
    height: 425PX;
    border-top-style: solid;
    border-right-style: solid;
    border-color: #000000;
    border-width: 4px;
    border-top-right-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.marco-h:hover{
    border-color: #5c5c5c; 
}


/* INFORMACION FILA 1 */
.nombre-nu{
    display: flex;
}

.numero{
width: 80px;
height: 90px;
}

.foto{
margin-left: -10px;
margin-top: -30px;
}
.apellido{
    margin-left: 10px;
    margin-top: -15px;
}

.nombre{
    margin-left: 10px;
}
/* color equipo */
.eq-r{
    color: #2f00ff;
    font-size: 15px;
    margin-left: 10px;
    }

    .eq-f{
        color: #f90707;
        font-size: 15px;
        margin-left: 10px;
        }

        .eq-m{
            color: #14d8ff;
            font-size: 15px;
            margin-left: 10px;
            }

.eq-mc{
    color: #f98407;
    font-size: 15px;
    margin-left: 10px;
    }


    .eq-ap{
        color: #0788f9;
        font-size: 15px;
        margin-left: 10px;
        }

        .eq-am{
            color: #00b50f;
            font-size: 15px;
            margin-left: 10px;
            }

            .eq-aph{
                color: #8a95fe;
                font-size: 15px;
                margin-left: 10px;
                }

                .eq-ar{
                    color: #8d0000;
                    font-size: 15px;
                    margin-left: 10px;  
                    }
    
                    .eq-w{
                        color: #3618cd;
                        font-size: 15px;
                        margin-left: 10px;  
                        }
        
                        .eq-h{
                            color: #5c5c5c;
                            font-size: 15px;
                            margin-left: 10px;  
                            }
            
.info{
    font-size: 15px;
    margin-left: 10px;
}


.bandera{
    border-style: solid;
    border-color: #1B1F22;
    border-width: 2px;
    border-radius: 10px;
    width: 75px;
    margin-left: 200px;
    margin-top: -100px;
}


/* pie de pagina */
.pie-e{
    border-top-style: solid;
    border-color: rgb(75, 78, 81);
    border-width: 1px;
    width: 80%;
    margin-left: 10%;
    
    }
    
    .pie-c{
        font-family:Arial, Helvetica, sans-serif;
        color: #ffffff;
        width: 280px;
        text-decoration: none;
        font-size: 12px;
        margin-top: 10px;
        margin-left: 73%;
    }
     .pie{
        font-size: 15px;
        margin-top: 5px;
        color: #ffffff;
        font-family:Arial, Helvetica, sans-serif;
     }
    .pie-pagina{
        -webkit-box-shadow: 0px 0px 10px 5px #818181;;
        -moz-box-shadow: 0px 0px 10px 5px #818181;;
        box-shadow: 0px 0px 10px 5px #818181;;
        text-align: center;
        background-color: #04050f;
        height: 100px;
        border-top: solid;
        
    }

    .inicios {
        margin-left: 560%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 100%;
        color:#000000;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background-color: #fffdfd;
        margin-top: 10px;
    }

    .inicios:hover{
        cursor: pointer;
        background-color: #ffffff;
        color:#ff0000;
    }

    
    .retro{
        margin-left:600%;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 110%;
        color:#000000;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        background-color: #fffcfc;
        margin-top: 10px;
    }

    /* color barra */
    .equipor:hover{
        color:#2f00ff; 
        transition: all .3s;
        border-bottom: solid;
                border-color: #2f00ff;
    }

    .equipof:hover{
        color:#ff0000;
        transition: all .3s;
border-bottom: solid;
        border-color: #ff0000;
}
    
.equipom:hover{
    color:#14d8ff;
    transition: all .3s;
border-bottom: solid;
    border-color: #14d8ff;
}

.equipomc:hover{
    color:#f98407;
    transition: all .3s;
border-bottom: solid;
    border-color: #f98407;
}

.equipoal:hover{
    color:#0788f9;
    transition: all .3s;
border-bottom: solid;
    border-color: #0788f9;
}

.equipoath:hover{
    color:#8a95fe;
    transition: all .3s;
border-bottom: solid;
    border-color: #8a95fe;
}

.equipoar:hover{
    color:#8d0000;
    transition: all .3s;
border-bottom: solid;
    border-color: #8d0000;
}

.equipoat:hover{
    color:#00b50f; 
    transition: all .3s;
border-bottom: solid;
    border-color: #00b50f;
}

.equipow:hover{
    color:#3618cd; 
    transition: all .3s;
border-bottom: solid;
    border-color: #3618cd;
}

.equipoh:hover{
    color:#5c5c5c;
    transition: all .3s;
border-bottom: solid;
    border-color: #5c5c5c;
}

